.single-event__when {
    font-family: var(--h3-font-family);
    color: var(--text-green);
    font-size: 19px;
    margin-top: 10px;
}

.single-event__where {
    font-family: var(--h3-font-family);
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 80px;
}

.single-event__price {
    font-family: var(--h3-font-family);
}

.btn__placement {
    position: absolute;
    bottom: 70px;
}

.btn__container {
    position: relative;
    margin-top: 8px;
}